/*////////////// Fonts //////////////*/

h1 {
	font-family: Baskerville;
	src: url("fonts/Baskerville.ttc")
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

h1 {
  color: rgba(145, 160, 155, 1);
  font-size: 5em;
	margin: 0;
}

h2 {
	font-size: 20px;
	color: rgba(110, 135, 130, 1);
}

p {
	color: rgba(64, 84, 89, 1);
}

p a {
	color: rgba(49, 130, 180, 1);
	text-decoration: none;
}

p a:hover {
	color: rgba(49, 130, 180, 1);
	text-decoration: underline;
}

footer {
	text-align: right;
}

hr {
 	border: 0.5px solid rgba(205, 205, 205, 1);
}

/*MEDIA*/

header img {
  border: 5px solid rgba(145, 160, 155, 1);
}

#press img {
  border: 5px solid rgba(205, 205, 205, 1);
}

#press img:hover {
  border: 5px solid rgba(111,	129,	123, 1);
}
