/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

h1 {
  color: rgba(158, 172, 167, 1);
  font-size: 7em;
	margin: 0;
}

h2, p {
  color: rgba(110, 135, 130, 1);
}

hr {
	5px solid rgba(205, 205, 205, 1);
}

header img {
  border: 5px solid rgba(158, 172, 167, 1);
}

p a {
	color: rgba(49, 130, 180, 1);
	text-decoration: none;
}

#press img {
  border: 5px solid rgba(205, 205, 205, 1);
}

#press img:hover {
  border: 5px solid rgba(115, 125, 120, 1);
}
