/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

h1 {
  color: rgba(145, 160, 155, 1);
  font-size: 7em;
	margin: 0;
}

h2 {
  color: rgba(110, 135, 130, 1);
}

p {
	color: rgba(64, 84, 89, 1);
}

p a {
	color: rgba(49, 130, 180, 1);
	text-decoration: none;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(205, 205, 205, 1);
  border-bottom: 1px solid rgba(205, 205, 205, 1);
}

/*MEDIA*/

header img {
  border: 5px solid rgba(145, 160, 155, 1);
}

#press img {
  border: 5px solid rgba(205, 205, 205, 1);
}

#press img:hover {
  border: 5px solid rgba(111,	129,	123, 1);
}
